{
  "presets": [["env", { "loose": true }], "react"],
  "plugins": ["transform-object-rest-spread"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source", "transform-react-jsx-self"]
    }
  }
}
